*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 200px;
    border: 10px solid black;
}
#charactor{
    width: 20px;
    height: 50px;
    background-color: brown;
    position:relative;
    top:150px;
    left:10px;
    
}
.animation{
    animation: jump 700ms ;
}
#block{
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    position: relative;
    top:130px;
    left: 480px;
    animation: block 2s infinite;
    /* animation-name: block ;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}
@keyframes block {
    0% {left:480px;}
    100% {left:-40px;}
}
@keyframes jump {
    0%{top:150px;}
    30%{top: 100px;}
    70%{top:100px;}
    100%{top: 150px;}
}